@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@{
    Layout = "~/Areas/Identity/Pages/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <!-- Includes the content of _ManageNav.cshtml -->
        @await Html.PartialAsync("_ManageNav")
    </div>
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div class="text-danger validation-summary-valid" role="alert" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="Current password" type="password" id="Input_OldPassword" name="Input.OldPassword" required>
                <label class="form-label" for="Input_OldPassword">Current password</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="New password" type="password" id="Input_NewPassword" name="Input.NewPassword" required>
                <label class="form-label" for="Input_NewPassword">New password</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="Confirm new password" type="password" id="Input_ConfirmPassword" name="Input.ConfirmPassword" required>
                <label class="form-label" for="Input_ConfirmPassword">Confirm new password</label>
            </div>
            <button id="change-password-button" type="submit" class="w-100 btn btn-lg btn-primary" formaction="/Identity/Account/Manage/ChangePassword">Change password</button>
            <input name="__RequestVerificationToken" type="hidden" value="your-request-verification-token">
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}