
@page "{handler?}"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.UserName">Username</label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        jQuery.noConflict();
        (function ($) {
            $(document).ready(function ($) {
                function timerWaiter(func, wait) {
                    var timeout;
                    return function executedFunction() {
                        var context = this;
                        var args = arguments;
                        var later = function () {
                            timeout = null;
                            func.apply(context, args);
                        };

                        clearTimeout(timeout);
                        timeout = setTimeout(later, wait);
                    };
                };
                var checkUsername = timerWaiter(function () {
                    var inputText = $('#Input_UserName').val();
                    console.log('Generated URL: ' + '@Url.Page("/Account/Register", "IsUsernameInUse")');
                    $.ajax({
                        url: '@Url.Page("/Account/Register", "IsUsernameInUse", new { area = "Identity" })',
                        data: { username: inputText },
                        type: 'GET',
                        success: function (response) {
                            var validationMessageSpan = $('#Input_UserName').siblings('.text-danger');
                            if (!response.isAvailable) {
                                // Username is in use
                                $('#Input_UserName').addClass('is-invalid');
                                validationMessageSpan.text('Username is already taken.');
                                console.log("in use" + response.isAvailable);
                            } else {
                                // Username is unique
                                $('#Input_UserName').removeClass('is-invalid');
                                validationMessageSpan.text('Username is ok');
                                console.log(response.isAvailable);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error: " + error);
                            var validationMessageSpan = $('#Input_UserName').next('.text-danger');
                            validationMessageSpan.text('Error checking username. Please try again.');
                           
                        }
                    });
                },250); 
                $('#Input_UserName').on('input', checkUsername);
            });
        })(jQuery);
    </script>
}
